{% extends 'base.html' %}{% load static humanize %}
{% block content %}

  <!-- banner part here -->
  <section class="banner_part home_two_banner">
    <div class="single_banner_part home_two_bg" style="background-image: url({{ object.image.url }});">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-8 col-md-7">
            <div class="banner_iner">
              <h5>--------------</h5>
              <h2>{{ object.title }}</h2>
              <a href="#detail" class="cu_btn btn_2">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_animation_1">
        <div data-parallax='{"x": 20, "y": 2{{ object.pk }}0, "rotateZ":0}'>
          <img src="{% static 'img/icon/banner_two_1.png' %}" alt="#">
        </div>
      </div>
      <div class="banner_animation_2">
        <div data-parallax='{"x": 15, "y": {{ object.pk }}50, "rotateZ":{{ object.pk }}}'>
          <img src="{% static 'img/icon/banner_two_3.png' %}" alt="#">
        </div>
      </div>
      <div class="banner_animation_3">
        <div data-parallax='{"x": {{ object.pk }}0, "y": 200, "rotateZ":0}'>
          <img src="{% static 'img/icon/banner_two_2.png' %}" alt="#">
        </div>
      </div>
      <div class="banner_animation_4">
        <div data-parallax='{"x": 10, "y": 1{{ object.pk }}0, "rotateZ":{{ object.pk }}}'>
          <img src="{% static 'img/icon/banner_two_4.png' %}" alt="#">
        </div>
      </div>
    </div>
  </section>
  <!-- banner part end -->

  <!-- services part here -->
  <section name="detail" id="detail" class="about_section section_padding">
    <div class="container custom_container">
      <div class="row ">
        <div class="col-lg-7">
          <div class="section_tittle_style_02 justify-content-center">
            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span
                    class="title_overlay_effect"> {{ object.title }}</span></h2>


          </div>
          <div class="program_list_details">
            {{ object.subtitle|safe }}
          </div>
          {% for price in service.priceservices_set.all %}
            <div class="program_list_details ">

              <h5>Дни <span>{{ price.days }}</span></h5>
              <h5>Стоимость <span>{{ price.price|intcomma }} <i class="fas fa-ruble-sign"></i></span></h5>
              <h5>Время <span>{{ price.time }} </span></h5>
            </div>
          {% endfor %}
        </div>
      </div>


    </div>
  </section>
  {% if object.photos.all %}
    {% include 'sections/gallery_sliders.html' with photos=object.photos.all %}
  {% endif %}
{% endblock %}
