{% extends "base.html" %}{% load static %}
{% block content %}

  <!-- breadcrumb part -->
  <section class="breadcrumb_part parallax_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 ">
          <div class="breadcrumb_iner">
            <h2>О нас</h2>
            <div class="breadcrumb_iner_link">
              <a href="/">Главная</a>
              <span>|</span>
              <p>Наши контакты</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumb_animation_4">
      <div data-parallax='{"x": 30, "y": 250, "rotateZ":0}'>
        <img src="{% static 'img/icon/banner_icon/animated_banner_4.png' %}" alt="#">
      </div>
    </div>
    <div class="breadcrumb_animation_5">
      <div data-parallax='{"x": 20, "y": 150, "rotateZ": 180}'>
        <img src="{% static '' %}img/icon/banner_icon/animated_banner_5.png" alt="#">
      </div>
    </div>
    <div class="breadcrumb_animation_7">
      <div data-parallax='{"x": 100, "y": 250, "rotateZ":0}'>
        <img src="{% static '' %}img/icon/banner_icon/animated_banner_15.png" alt="#">
      </div>
    </div>
    <div class="breadcrumb_animation_10">
      <div data-parallax='{"x": 15, "y": 150, "rotateZ":0}'>
        <img src="{% static '' %}img/icon/banner_icon/animated_banner_10.png" alt="#">
      </div>
    </div>
    <div class="breadcrumb_animation_12">
      <div data-parallax='{"x": 20, "y": 150, "rotateZ":180}'>
        <img src="{% static '' %}img/icon/banner_icon/animated_banner_20.png" alt="#">
      </div>
    </div>
    <div class="breadcrumb_animation_13">
      <div data-parallax='{"x": 10, "y": 250, "rotateZ": 180}'>
        <img src="{% static '' %}img/icon/banner_icon/animated_banner_21.png" alt="#">
      </div>
    </div>
  </section>
  <!-- breadcrumb part end -->

  <!-- about section part here -->
  <section class="about_section section_padding s4_about_section">
    <div class="container custom_container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-xl-5 order-2 order-lg-1">
          <div class="about_section_content mt-5 mt-lg-0">
            <h5 class="kid_title wow fadeInLeft" data-wow-delay=".3s">Who We Are</h5>
            <h2 class="kid_title wow fadeInLeft" data-wow-delay=".4s"><span
                    class="title_overlay_effect">Создаем хорошее настроение</span></h2>
            <p class="wow fadeInLeft" data-wow-delay=".5s">Студия для организации детских праздников, красивых
              фотосессий, аренда помещения для мастер-классов встреч мама+малыш(игротека)
            </p>
            <div class="list_content">
              <ul>
                <li class="wow fadeInLeft" data-wow-delay=".5s"><i class="far fa-check-circle"></i> Best
                  Организация Дня рождения “под ключ”
                </li>
                <li class="wow fadeInLeft" data-wow-delay=".5s"><i class="far fa-check-circle"></i>
                  Фотосессии
                </li>
                <li class="wow fadeInLeft" data-wow-delay=".6s"><i class="far fa-check-circle"></i>
                  Фотосессии
                </li>
                <li class="wow fadeInLeft" data-wow-delay=".6s"><i class="far fa-check-circle"></i>
                  Фотосессии
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="img_section">
            <img src="{% static '' %}img/about_img_shape_2.png" alt="#" class="about_img_7"
                 data-parallax='{"x": 0, "y": -50, "rotateZ":0}'>
            <img src="{% static '' %}img/about_img_7.png" alt="#" class="about_img_6 img-fluid">
            <img src="{% static '' %}img/about_img_shape_1.png" alt="#" class="about_img_5"
                 data-parallax='{"x": 0, "y": 50, "rotateZ":0}'>
          </div>
        </div>
      </div>
    </div>
    <div class="about_page_animation_1">
      <div data-parallax='{"x": 2, "y": 70, "rotateZ":0}'><img src="{% static '' %}img/icon/icon_5.png" alt="#"></div>
    </div>
    <div class="about_page_animation_2">
      <div data-parallax='{"x": 10, "y": 80, "rotateZ":0}'><img src="{% static '' %}img/icon/icon_6.png" alt="#"></div>
    </div>
    <div class="about_page_animation_3">
      <div data-parallax='{"x": 30, "y": 60, "rotateZ":0}'><img src="{% static '' %}img/icon/icon_7.png" alt="#"></div>
    </div>
    <div class="about_page_animation_4">
      <div data-parallax='{"x": 30, "y": -50, "rotateZ":0}'><img src="{% static '' %}img/icon/icon_8.png" alt="#"></div>
    </div>
  </section>
  <!-- about section part end -->

  <!-- get start part here -->
  {#  <section class="get_start_part section_padding section_bg">#}
  {#    <div class="container custom_container">#}
  {#      <div class="row justify-content-between align-items-center">#}
  {#        <div class="col-lg-7 wow fadeInUp" data-wow-delay=".2s"#}
  {#             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">#}
  {#          <div class="video_section">#}
  {#            <img src="{% static '' %}img/video_section_bg.png" alt="#" class="img-fluid">#}
  {#            <a href="https://www.youtube.com/watch?v=oiHulAQmdqI" class="video_popup"><span#}
  {#                    class="polygon_shape"></span></a>#}
  {#          </div>#}
  {#        </div>#}
  {#        <div class="col-lg-5 wow fadeInUp" data-wow-delay=".5s"#}
  {#             style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">#}
  {#          <div class="get_start_content mt-5 mt-lg-0">#}
  {#            <h2 class="kid_title"><span class="title_overlay_effect"> With Efficiency to More Opportunities </span></h2>#}
  {#            <p>Why I say old chap that is spiffing bodge, blag pardon me mufty Oxford butty bubble and squeak wind#}
  {#              up, brown bread the full monty bloke ruddy cras tickety-boo squiffy.</p>#}
  {#            <p>Why I say old chap that is spiffing bodge, blag pardon me mufty Oxford butty bubble and squeak wind#}
  {#              up, brown bread the full monty bloke ruddy cras tickety-boo squiffy.</p>#}
  {#            <a href="#" class="get_start_btn">Get Started Now! <i class="ti-arrow-right"></i> </a>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#    </div>#}
  {#    <div class="get_start_animation_1">#}
  {#      <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_1.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="get_start_animation_3">#}
  {#      <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_3.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="get_start_animation_6">#}
  {#      <div data-parallax='{"x": 15, "y": 115, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_6.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="get_start_animation_9">#}
  {#      <div data-parallax='{"x": 20, "y": 120, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_13.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="get_start_animation_11">#}
  {#      <div data-parallax='{"x": 15, "y": 115, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_12.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="get_start_animation_12">#}
  {#      <div data-parallax='{"x": 20, "y": 40, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_7.png" alt="#"></div>#}
  {#    </div>#}
  {#  </section>#}
  <!-- get start part end -->
{% endblock %}
