{% extends "base.html" %}{% load static settings_tags humanize %}
{% block content %}
  <!-- banner part here -->
  <section class="banner_part bannerslider owl-carousel">{% get_slider as sliders %}
    {% for slider in sliders %}
      <div class="single_banner_part bg_3"
           style="background-image:url('{{ slider.image.url }}'); background-position: center;
                   background-repeat: no-repeat; background-size: cover;">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-10">
              <div class="banner_iner">
                <h2>{{ slider.title|safe }}</h2>
                <p>{{ slider.subtitle }}</p>
                <a href="{{ slider.url }}" class="cu_btn btn_2">{{ slider.link_name }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="banner_animation_1">
          <div data-parallax='{"x": 2{{ forloop.counter0 }}, "y": 200, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_1.png' %}" alt="#">
          </div>
        </div>
        <div class="banner_animation_2">
          <div data-parallax='{"x": {{ forloop.counter }}5, "y": 150, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_2.png' %}" alt="#">
          </div>
        </div>
        <div class="banner_animation_3">
          <div data-parallax='{"x": 0, "y": {{ forloop.counter }}00, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_3.png' %}" alt="#">
          </div>
        </div>
        <div class="banner_animation_4">
          <div data-parallax='{"x": {{ forloop.counter }}0, "y": 1{{ forloop.counter }}0, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_4.png' %}" alt="#">
          </div>
        </div>
      </div>
    {% endfor %}

  </section>
  <!-- banner part end -->
  {% if request.user.is_authenticated %}
  <section class="program_list testimonial_part section_padding section_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section_tittle_style_02">
            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span class="title_overlay_effect">Наши услуги</span>
            </h2>
            <p class="description wow fadeInDown" data-wow-delay=".3s">текст</p>
          </div>
        </div>
      </div>
      <div class="row">{% get_menu_services as services %}
        {% for service in services %}
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="single_program_list wow fadeInUp" data-wow-delay=".{{ forloop.counter }}s">
            <img src="{{ service.image.url }}" alt="#" class="img-fluid">
            <div class="single_program_list_content bg-white">
              <h4><a href="event_details.html">{{ service.title }}</a></h4>
              <p>{{ service.subtitle|truncatechars:45 }}</p>
              {% for price in service.priceservices_set.all %}
              <div class="program_list_details">
                <h5>Дни <span>{{ price.days }}</span></h5>
                <h5>Стоимость <span>{{ price.price|intcomma }} <i class="fas fa-ruble-sign"></i></span></h5>
                <h5>Время <span>{{ price.time }} </span></h5>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="testimonial_animation_1">
      <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_5.png" alt="#">
      </div>
    </div>
    <div class="testimonial_animation_2">
      <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="{% static '' %}img/icon/event_4.png" alt="#">
      </div>
    </div>
    <div class="testimonial_animation_3">
      <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="{% static '' %}img/icon/event_6.png" alt="#">
      </div>
    </div>
    <div class="testimonial_animation_4">
      <div data-parallax='{"x": 30, "y": -110, "rotateZ":0}'><img src="{% static '' %}img/icon/event_7.png" alt="#">
      </div>
    </div>
  </section>
  <!-- services part here -->
{#  <section class="about_section section_padding">#}
{#    <div class="container custom_container">#}
{#      <div class="row justify-content-center">#}
{#        <div class="col-lg-7">#}
{#          <div class="section_tittle_style_02">#}
{#            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span class="title_overlay_effect">О нас</span>#}
{#            </h2>#}
{#            <p class="description wow fadeInDown" data-wow-delay=".3s">mika studio mission is to provide affordable,#}
{#              high-quality#}
{#              early education and childcare services for working families to ensure every child.</p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="row">#}
{#        <div class="col-lg-6">#}
{#          <div class="img_section">#}
{#            <img src="img/about_img_1.png" alt="#" class="about_img_1" data-parallax='{"x": 0, "y": 30, "rotateZ":0}'>#}
{#            <img src="img/about_img_2.png" alt="#" class="about_img_2">#}
{#            <img src="img/about_img_3.png" alt="#" class="about_img_3" data-parallax='{"x": 0, "y": -50, "rotateZ":0}'>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-6 col-xl-5">#}
{#          <div class="about_section_content">#}
{#            <p class="wow fadeInDown" data-wow-delay=".3s">The amazing way to olor sit amet, consectetur adipisicing#}
{#              elit,#}
{#              sed do eiusmod incididunt ut labore inventore The amazing way#}
{#              to olor sit amet, consectetur.#}
{#              consectetur adipisicing elit, sed do eiusmod incididunt ut labore#}
{#              inventore. </p>#}
{#            <div class="list_content">#}
{#              <ul>#}
{#                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Best Learning School#}
{#                  for Kids#}
{#                </li>#}
{#                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Indoor/Outdoor Games#}
{#                  for Little Kids#}
{#                </li>#}
{#                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Professional &#}
{#                  Qualified Teacher#}
{#                </li>#}
{#                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Indoor/Outdoor Games#}
{#                  for Little Kids#}
{#                </li>#}
{#              </ul>#}
{#            </div>#}
{#            <a class="pc-button elementor-button button-link cu_btn mt-4" href="#">#}
{#              <div class="button-content-wrapper ">#}
{#                <span class="elementor-button-text">Discover More </span>#}
{#                <svg class="pc-dashes inner-dashed-border animated-dashes">#}
{#                  <rect x="5px" y="5px" rx="22px" ry="22px" width="0" height="0"></rect>#}
{#                </svg>#}
{#              </div>#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
  <!-- services part end -->

  {#  <!-- testimonial part here -->#}
  {#  <section class="testimonial_part section_padding">#}
  {#    <div class="container">#}
  {#      <div class="row justify-content-center">#}
  {#        <div class="col-lg-7">#}
  {#          <div class="section_tittle_style_02">#}
  {#            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span#}
  {#                    class="title_overlay_effect">Что говорят родители</span></h2>#}
  {#            <p class="description wow fadeInDown" data-wow-delay=".3s">mika studio mission is to provide affordable,#}
  {#              high-quality#}
  {#              early education and childcare services for working families to ensure every child.</p>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#      <div class="row">#}
  {#        <div class="col-lg-12">#}
  {#          <div class="testimonial_slider owl-carousel">#}
  {#            <div class="single_testimonial_slider">#}
  {#              <div class="client_speech bg_1">#}
  {#                <img src="img/quote.png" alt="#">#}
  {#                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod#}
  {#                  tempor incididunt ut labore et dolore. Mauris eu enim interdum, facilisis#}
  {#                  nibh ac, sodales ligula. Integer in nunc nunc. </p>#}
  {#                <img src="img/shape_1.png" alt="#" class="client_speech_shape">#}
  {#              </div>#}
  {#              <div class="client_info">#}
  {#                <img src="img/client_img_1.png" alt="#">#}
  {#                <h4>Martin Ehrlich <span>Father of 2 kids</span></h4>#}
  {#              </div>#}
  {#            </div>#}
  {#            <div class="single_testimonial_slider">#}
  {#              <div class="client_speech bg_2">#}
  {#                <img src="img/quote.png" alt="#">#}
  {#                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod#}
  {#                  tempor incididunt ut labore et dolore. Mauris eu enim interdum, facilisis#}
  {#                  nibh ac, sodales ligula. Integer in nunc nunc. </p>#}
  {#                <img src="img/shape_2.png" alt="#" class="client_speech_shape">#}
  {#              </div>#}
  {#              <div class="client_info">#}
  {#                <img src="img/client_img_1.png" alt="#">#}
  {#                <h4>Martin Ehrlich <span>Father of 2 kids</span></h4>#}
  {#              </div>#}
  {#            </div>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#    </div>#}
  {#    <div class="testimonial_animation_1">#}
  {#      <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="img/icon/feature_5.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="testimonial_animation_2">#}
  {#      <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="img/icon/event_4.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="testimonial_animation_3">#}
  {#      <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="img/icon/event_6.png" alt="#"></div>#}
  {#    </div>#}
  {#    <div class="testimonial_animation_4">#}
  {#      <div data-parallax='{"x": 30, "y": -110, "rotateZ":0}'><img src="img/icon/event_7.png" alt="#"></div>#}
  {#    </div>#}
  {#  </section>#}
  {#  <!-- testimonial part end -->#}
  {##}
  <!-- testimonial part here -->
  {#    <section class="teacher_list section_padding">#}
  {#      <div class="container">#}
  {#        <div class="row justify-content-center">#}
  {#          <div class="col-lg-7">#}
  {#            <div class="section_tittle_style_02">#}
  {#              <h2 class="title wow fadeInDown" data-wow-delay=".3s">#}
  {#                <div class="text-white title_overlay_effect">Need a Teacher</div>#}
  {#              </h2>#}
  {#            </div>#}
  {#          </div>#}
  {#        </div>#}
  {#        <div class="row">#}
  {#          <div class="col-lg-12">#}
  {#            <div class="teacher_list_iner">#}
  {#              <div class="single_teacher_list">#}
  {#                <div class="teacher_list_img square">#}
  {#                  <img src="img/teacher_list_1.png" alt="#" class="img-fluid">#}
  {#                </div>#}
  {#                <h5>Find a Teacher</h5>#}
  {#              </div>#}
  {#              <div class="single_teacher_list">#}
  {#                <div class="teacher_list_img circle">#}
  {#                  <img src="img/teacher_list_4.png" alt="#" class="img-fluid">#}
  {#                </div>#}
  {#                <h5>Find a Teacher</h5>#}
  {#              </div>#}
  {#              <div class="single_teacher_list">#}
  {#                <div class="teacher_list_img square">#}
  {#                  <img src="img/teacher_list_1.png" alt="#" class="img-fluid">#}
  {#                </div>#}
  {#                <h5>Find a Teacher</h5>#}
  {#              </div>#}
  {#              <div class="single_teacher_list">#}
  {#                <div class="teacher_list_img circle">#}
  {#                  <img src="img/teacher_list_4.png" alt="#" class="img-fluid">#}
  {#                </div>#}
  {#                <h5>Find a Teacher</h5>#}
  {#              </div>#}
  {#            </div>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#      <div class="teacher_list_animation_1">#}
  {#        <div data-parallax='{"x": 2, "y": 120, "rotateZ": 90}'><img src="img/icon/event_6.png" alt="#"></div>#}
  {#      </div>#}
  {#      <div class="teacher_list_animation_2">#}
  {#        <div data-parallax='{"x": 10, "y": 100, "rotateZ": 0}'><img src="img/icon/icon_1.png" alt="#"></div>#}
  {#      </div>#}
  {#      <div class="teacher_list_animation_3">#}
  {#        <div data-parallax='{"x": 30, "y": 110, "rotateZ": 180}'><img src="img/icon/banner_icon/animated_banner_5.png"#}
  {#                                                                      alt="#"></div>#}
  {#      </div>#}
  {#      <div class="teacher_list_animation_4">#}
  {#        <div data-parallax='{"x": 30, "y": 110, "rotateZ": 90}'><img src="img/icon/icon_2.png" alt="#"></div>#}
  {#      </div>#}
  {#      <div class="teacher_list_animation_5">#}
  {#        <div data-parallax='{"x": 30, "y": 110, "rotateZ": 90}'><img src="img/icon/icon_3.png" alt="#"></div>#}
  {#      </div>#}
  {#      <div class="teacher_list_animation_6">#}
  {#        <div data-parallax='{"x": 30, "y": 110, "rotateZ": 90}'><img src="img/icon/icon_4.png" alt="#"></div>#}
  {#      </div>#}
  {#      <div class="teacher_list_shape">#}
  {#        <div><img src="img/teacher_list_shape.png" alt="#"></div>#}
  {#      </div>#}
  {#    </section>#}
  {#  <!-- testimonial part end -->#}
  {##}
  {#  <!-- fetures part here -->#}
  {#  <section class="fetures_part section_padding">#}
  {#    <div class="container">#}
  {#      <div class="row justify-content-center">#}
  {#        <div class="col-lg-7">#}
  {#          <div class="section_tittle_style_02">#}
  {#            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span class="title_overlay_effect"> Educational Programs</span>#}
  {#            </h2>#}
  {#            <p class="description wow fadeInDown" data-wow-delay=".3s">mika studio mission is to provide affordable,#}
  {#              high-quality early education and childcare services for working families to ensure every child.</p>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#      <div class="row justify-content-between">#}
  {#        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">#}
  {#          <div class="single_fetures_part">#}
  {#            <div class="single_fetures_icon">#}
  {#              <img src="img/program_img/program_img_01.png" alt="#" class="img-fluid">#}
  {#            </div>#}
  {#            <h4><a href="about.html"> Pre-School Sports</a></h4>#}
  {#            <p>The amazing way to olor sit adipisicing elit, sed do consectetur </p>#}
  {#          </div>#}
  {#        </div>#}
  {#        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">#}
  {#          <div class="single_fetures_part lightblue_bg">#}
  {#            <div class="single_fetures_icon">#}
  {#              <img src="img/program_img/program_img_02.png" alt="#" class="img-fluid">#}
  {#            </div>#}
  {#            <h4><a href="about.html">Healthy Meals</a></h4>#}
  {#            <p>The amazing way to olor sit adipisicing elit, sed do consectetur </p>#}
  {#          </div>#}
  {#        </div>#}
  {#        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".8s">#}
  {#          <div class="single_fetures_part pink_bg">#}
  {#            <div class="single_fetures_icon">#}
  {#              <img src="img/program_img/program_img_03.png" alt="#" class="img-fluid">#}
  {#            </div>#}
  {#            <h4><a href="about.html">Babysitting</a></h4>#}
  {#            <p>The amazing way to olor sit adipisicing elit, sed do consectetur </p>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#    </div>#}
  {#    <div class="feature_animation_1">#}
  {#      <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_01.png"#}
  {#                                                                alt="#"></div>#}
  {#    </div>#}
  {#    <div class="feature_animation_2">#}
  {#      <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_02.png"#}
  {#                                                                 alt="#"></div>#}
  {#    </div>#}
  {#    <div class="feature_animation_3">#}
  {#      <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_03.png"#}
  {#                                                                 alt="#"></div>#}
  {#    </div>#}
  {#    <div class="feature_animation_4">#}
  {#      <div data-parallax='{"x": 5, "y": 105, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_04.png"#}
  {#                                                                alt="#"></div>#}
  {#    </div>#}
  {#  </section>#}
  {#  <!-- fetures part end -->#}
  {##}
  {% include 'sections/gallery.html' %}

  <!-- services part here -->
  <section class="cta_section section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-sm-8 wow fadeInUp" data-wow-delay=".3s">
          <div class="cta_section_wrapper">
            <img src="{% static '' %}img/cta_img.png" alt="#" class="img-fluid">
            <h2>Забронируйте время</h2>
            <p></p>
            <a class="pc-button elementor-button button-link cu_btn" href="contact.html">
              <div class="button-content-wrapper ">
                <span class="elementor-button-text">Контакты</span>
                <svg class="pc-dashes inner-dashed-border animated-dashes">
                  <rect x="5px" y="5px" rx="22px" ry="22px" width="0" height="0"></rect>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="cta_animation_1">
      <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="{% static '' %}img/icon/cta_1.png" alt="#"></div>
    </div>
    <div class="cta_animation_2">
      <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="{% static '' %}img/icon/event_7.png" alt="#">
      </div>
    </div>
    <div class="cta_animation_3">
      <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="{% static '' %}img/icon/cta_3.png" alt="#">
      </div>
    </div>
    <div class="cta_animation_4">
      <div data-parallax='{"x": 5, "y": 105, "rotateZ":0}'><img src="{% static '' %}img/icon/banner_two_3.png" alt="#">
      </div>
    </div>
  </section>
  <!-- services part end -->
  {% endif %}
{% endblock %}
