{% extends "base.html" %}{% load static settings_tags %}
{% block content %}
  <!-- banner part here -->
  <section class="banner_part bannerslider owl-carousel">{% get_slider as sliders %}
    {% for slider in sliders %}
      <div class="single_banner_part bg_3" style="background-image:url('{{ slider.image.url }}')">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-10">
              <div class="banner_iner">
                <h2>{{ slider.title|safe }}</h2>
                <p>{{ slider.subtitle }}</p>
                <a href="{{ slider.url }}" class="cu_btn btn_2">{{ slider.link_name }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="banner_animation_1">
          <div data-parallax='{"x": 20, "y": 200, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_1.png' %}" alt="#">
          </div>
        </div>
        <div class="banner_animation_2">
          <div data-parallax='{"x": 15, "y": 150, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_2.png' %}" alt="#">
          </div>
        </div>
        <div class="banner_animation_3">
          <div data-parallax='{"x": 0, "y": 200, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_3.png' %}" alt="#">
          </div>
        </div>
        <div class="banner_animation_4">
          <div data-parallax='{"x": 10, "y": 150, "rotateZ":0}'>
            <img src="{% static 'img/icon/banner_4.png' %}" alt="#">
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="single_banner_part bg_2">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-8 col-lg-10 col-md-10">
            <div class="banner_iner">
              <h2> Your <span> Child </span> Our <span> Responsibility </span>
              </h2>
              <p>Stop wasting precious time creating invoices, following up on <br>
                payments and trying to figure out </p>
              <a href="#" class="cu_btn btn_2">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_animation_1">
        <div data-parallax='{"x": 2, "y": 80, "rotateZ":0}'>
          <img src="{% static '' %}img/icon/banner_1.png" alt="#">
        </div>
      </div>
      <div class="banner_animation_2">
        <div data-parallax='{"x": 15, "y": 100, "rotateZ":0}'>
          <img src="{% static '' %}img/icon/banner_2.png" alt="#">
        </div>
      </div>
      <div class="banner_animation_3">
        <div data-parallax='{"x": 0, "y": 90, "rotateZ":0}'>
          <img src="{% static '' %}img/icon/banner_3.png" alt="#">
        </div>
      </div>
      <div class="banner_animation_4">
        <div data-parallax='{"x": 10, "y": 120, "rotateZ":0}'>
          <img src="{% static '' %}img/icon/banner_4.png" alt="#">
        </div>
      </div>
    </div>
  </section>
  <!-- banner part end -->
  <!-- services part here -->
  <section class="services_part wave_shape_bg sec_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section_tittle_style_02">
            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span
                    class="title_overlay_effect"> Что мы предлагаем</span></h2>
            <p class="description wow fadeInDown" data-wow-delay=".3s">mika studio mission is to provide
              affordable, high-quality early education and
              childcare services for working families to ensure every child.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-6 wow fadeInDown" data-wow-delay=".2s">
          <a class="single_service_part d-block" href="about.html">
            <div class="service_section_img_wrapper">
              <img src="{% static '' %}img/services_1.png" alt="#" class="img-fluid">
            </div>
            <h5 class="service_title">Infant Care</h5>
          </a>
        </div>
        <div class="col-sm-6 col-lg-6 wow fadeInDown" data-wow-delay=".4s">
          <a class="single_service_part d-block bg_color_2" href="about.html">
            <div class="service_section_img_wrapper">
              <img src="{% static '' %}img/services_2.png" alt="#" class="img-fluid">
            </div>
            <h5 class="service_title">Pre School</h5>
          </a>
        </div>
      </div>
      <a class="pc-button elementor-button button-link cu_btn mt-lg-4" href="#">
        <div class="button-content-wrapper ">
          <span class="elementor-button-text">Learn More </span>
          <svg class="pc-dashes inner-dashed-border animated-dashes">
            <rect x="5px" y="5px" rx="22px" ry="22px" width="0" height="0"></rect>
          </svg>
        </div>
      </a>
    </div>
    <div class="services_shape_animation_1">
      <div data-parallax='{"x": 2, "y": 80, "rotateZ":0}'>
        <img src="{% static '' %}img/animation_shape/feature_shape_01.png" alt="#">
      </div>
    </div>
    <div class="services_shape_animation_2">
      <div data-parallax='{"x": 15, "y": 100, "rotateZ":0}'>
        <img src="{% static '' %}img/animation_shape/feature_shape_02.png" alt="#">
      </div>
    </div>
    <div class="services_shape_animation_3">
      <div data-parallax='{"x": 0, "y": 90, "rotateZ":0}'>
        <img src="{% static '' %}img/animation_shape/feature_shape_03.png" alt="#">
      </div>
    </div>
    <div class="services_shape_animation_4">
      <div data-parallax='{"x": 10, "y": 120, "rotateZ":0}'>
        <img src="{% static '' %}img/animation_shape/feature_shape_04.png" alt="#">
      </div>
    </div>
  </section>
  <!-- services part end -->

  <!-- services part here -->
  <section class="about_section section_padding">
    <div class="container custom_container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section_tittle_style_02">
            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span class="title_overlay_effect"> DroitCare Child Care and Kindergarten</span>
            </h2>
            <p class="description wow fadeInDown" data-wow-delay=".3s">mika studio mission is to provide affordable,
              high-quality
              early education and childcare services for working families to ensure every child.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="img_section">
            <img src="img/about_img_1.png" alt="#" class="about_img_1" data-parallax='{"x": 0, "y": 30, "rotateZ":0}'>
            <img src="img/about_img_2.png" alt="#" class="about_img_2">
            <img src="img/about_img_3.png" alt="#" class="about_img_3" data-parallax='{"x": 0, "y": -50, "rotateZ":0}'>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="about_section_content">
            <p class="wow fadeInDown" data-wow-delay=".3s">The amazing way to olor sit amet, consectetur adipisicing
              elit,
              sed do eiusmod incididunt ut labore inventore The amazing way
              to olor sit amet, consectetur.
              consectetur adipisicing elit, sed do eiusmod incididunt ut labore
              inventore. </p>
            <div class="list_content">
              <ul>
                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Best Learning School
                  for Kids
                </li>
                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Indoor/Outdoor Games
                  for Little Kids
                </li>
                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Professional &
                  Qualified Teacher
                </li>
                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="far fa-check-circle"></i> Indoor/Outdoor Games
                  for Little Kids
                </li>
              </ul>
            </div>
            <a class="pc-button elementor-button button-link cu_btn mt-4" href="#">
              <div class="button-content-wrapper ">
                <span class="elementor-button-text">Discover More </span>
                <svg class="pc-dashes inner-dashed-border animated-dashes">
                  <rect x="5px" y="5px" rx="22px" ry="22px" width="0" height="0"></rect>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services part end -->

  <!-- fetures part here -->
  <section class="fetures_part section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section_tittle_style_02">
            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span class="title_overlay_effect"> Educational Programs</span>
            </h2>
            <p class="description wow fadeInDown" data-wow-delay=".3s">mika studio mission is to provide affordable,
              high-quality early education and childcare services for working families to ensure every child.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
          <div class="single_fetures_part">
            <div class="single_fetures_icon">
              <img src="img/program_img/program_img_01.png" alt="#" class="img-fluid">
            </div>
            <h4><a href="about.html"> Pre-School Sports</a></h4>
            <p>The amazing way to olor sit adipisicing elit, sed do consectetur </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
          <div class="single_fetures_part lightblue_bg">
            <div class="single_fetures_icon">
              <img src="img/program_img/program_img_02.png" alt="#" class="img-fluid">
            </div>
            <h4><a href="about.html">Healthy Meals</a></h4>
            <p>The amazing way to olor sit adipisicing elit, sed do consectetur </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
          <div class="single_fetures_part pink_bg">
            <div class="single_fetures_icon">
              <img src="img/program_img/program_img_03.png" alt="#" class="img-fluid">
            </div>
            <h4><a href="about.html">Babysitting</a></h4>
            <p>The amazing way to olor sit adipisicing elit, sed do consectetur </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature_animation_1">
      <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_01.png"
                                                                alt="#"></div>
    </div>
    <div class="feature_animation_2">
      <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_02.png"
                                                                 alt="#"></div>
    </div>
    <div class="feature_animation_3">
      <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_03.png"
                                                                 alt="#"></div>
    </div>
    <div class="feature_animation_4">
      <div data-parallax='{"x": 5, "y": 105, "rotateZ":0}'><img src="img/animation_shape/program_list_shape_04.png"
                                                                alt="#"></div>
    </div>
  </section>
  <!-- fetures part end -->

  <!-- services part here -->
  <section class=" section_padding">
    <div class="container custom_container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section_tittle_style_02">
            <h2 class="title wow fadeInDown" data-wow-delay=".3s"><span
                    class="title_overlay_effect"> Our Programs</span></h2>
            <p class="description wow fadeInDown" data-wow-delay=".3s">mika studio mission is to provide affordable,
              high-quality
              early education and childcare services for working families to ensure every child.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="single_program_list wow fadeInUp" data-wow-delay=".3s">
            <img src="img/program_list_1.png" alt="#" class="img-fluid">
            <div class="single_program_list_content">
              <h4><a href="event_details.html">Pre-School Lambs</a></h4>
              <p>The amazing way to olor sit adipisi sed do consectetur way to olor sit adipisi</p>
              <div class="program_list_details">
                <h5>Age <span>3-4 yrs</span></h5>
                <h5>Tution Fee<span>$120</span></h5>
                <h5>Time <span>10:00-12:00 </span></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="single_program_list wow fadeInUp" data-wow-delay=".4s">
            <img src="img/program_list_2.png" alt="#" class="img-fluid">
            <div class="single_program_list_content">
              <h4><a href="event_details.html">Master Mind</a></h4>
              <p>The amazing way to olor sit adipisi sed do consectetur way to olor sit adipisi</p>
              <div class="program_list_details">
                <h5>Age <span>4-5 yrs</span></h5>
                <h5>Tution Fee<span>$160</span></h5>
                <h5>Time <span>8:00-10:00 </span></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="single_program_list wow fadeInUp" data-wow-delay=".5s">
            <img src="img/program_list_3.png" alt="#" class="img-fluid">
            <div class="single_program_list_content">
              <h4><a href="event_details.html">Junior Lambs</a></h4>
              <p>The amazing way to olor sit adipisi sed do consectetur way to olor sit adipisi</p>
              <div class="program_list_details">
                <h5>Age <span>5-6 yrs</span></h5>
                <h5>Tution Fee<span>$140</span></h5>
                <h5>Time <span>12:00-14:00 </span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services part end -->

{#  <!-- count section part here -->#}
{#  <section class="count_section">#}
{#    <div class="container">#}
{#      <div class="row justify-content-between">#}
{#        <div class="col-md-3 col-6 wow fadeInUp">#}
{#          <div class="single_count_section">#}
{#            <div class="single_count_icon">#}
{#              <img src="{% static '' %}img/count/count_1.svg" alt="#">#}
{#            </div>#}
{#            <h4><span class="counter">205</span></h4>#}
{#            <h5>Аниматоров</h5>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-6 wow fadeInUp">#}
{#          <div class="single_count_section">#}
{#            <div class="single_count_icon">#}
{#              <img src="{% static '' %}img/count/count_2.svg" alt="#">#}
{#            </div>#}
{#            <h4><span class="counter">120</span></h4>#}
{#            <h5>Фокусников</h5>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-6 wow fadeInUp">#}
{#          <div class="single_count_section">#}
{#            <div class="single_count_icon">#}
{#              <img src="{% static '' %}img/count/count_3.svg" alt="#">#}
{#            </div>#}
{#            <h4><span class="counter"> 350</span></h4>#}
{#            <h5>Мастер классы</h5>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-6 wow fadeInUp">#}
{#          <div class="single_count_section">#}
{#            <div class="single_count_icon">#}
{#              <img src="{% static '' %}img/count/count_4.png" alt="#">#}
{#            </div>#}
{#            <h4><span class="counter"> 1450</span></h4>#}
{#            <h5>Счастливых детей</h5>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="count_animation_1">#}
{#      <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_1.png" alt="#"></div>#}
{#    </div>#}
{#    <div class="count_animation_2">#}
{#      <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_2.png" alt="#"></div>#}
{#    </div>#}
{#    <div class="count_animation_5">#}
{#      <div data-parallax='{"x": 8, "y": 110, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_5.png" alt="#"></div>#}
{#    </div>#}
{#    <div class="count_animation_6">#}
{#      <div data-parallax='{"x": 15, "y": 115, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_6.png" alt="#"></div>#}
{#    </div>#}
{#    <div class="count_animation_7">#}
{#      <div data-parallax='{"x": 6, "y": 108, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_7.png" alt="#"></div>#}
{#    </div>#}
{#    <div class="count_animation_8">#}
{#      <div data-parallax='{"x": 10, "y": 110, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_8.png" alt="#"></div>#}
{#    </div>#}
{#    <div class="count_animation_9">#}
{#      <div data-parallax='{"x": 10, "y": 110, "rotateZ":0}'><img src="{% static '' %}img/icon/feature_13.png" alt="#"></div>#}
{#    </div>#}
{#  </section>#}
{#  <!-- count section part end -->#}

  {% include 'sections/gallery.html' %}

   <!-- services part here -->
    <section class="cta_section section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-sm-8 wow fadeInUp" data-wow-delay=".3s">
                    <div class="cta_section_wrapper">
                        <img src="{% static '' %}img/cta_img.png" alt="#" class="img-fluid">
                        <h2>Забронируйте время</h2>
                        <p></p>
                        <a class="pc-button elementor-button button-link cu_btn" href="contact.html">
                            <div class="button-content-wrapper ">
                                <span class="elementor-button-text">Контакты</span>
                                <svg class="pc-dashes inner-dashed-border animated-dashes">
                                    <rect x="5px" y="5px" rx="22px" ry="22px" width="0" height="0"></rect>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta_animation_1">
            <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="{% static '' %}img/icon/cta_1.png" alt="#"></div>
        </div>
        <div class="cta_animation_2">
            <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="{% static '' %}img/icon/event_7.png" alt="#">
            </div>
        </div>
        <div class="cta_animation_3">
            <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="{% static '' %}img/icon/cta_3.png" alt="#">
            </div>
        </div>
        <div class="cta_animation_4">
            <div data-parallax='{"x": 5, "y": 105, "rotateZ":0}'><img src="{% static '' %}img/icon/banner_two_3.png" alt="#"></div>
        </div>
    </section>
    <!-- services part end -->
{% endblock %}
